body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #1acc8d;
  text-decoration: none;
}

a:hover {
  color: #EC0511 !important;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.contactus {
  margin-left: 20px;
}

/* start */


.topbar {
  background: linear-gradient(to right bottom, #cd1f07, #bf0045, #96016a, #5a2a79, #09326e);
  /* height: 40px; */
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 10px;
}

.topbar .contact-info i {
  font-style: normal;
  color: #fff;
  line-height: 0;
  margin-top: 5px;
}


@media (max-width:575px) {
  .top-uk {
    display: none;
  }
}

@media (max-width:575px) {
  .top-us {
    display: none;
  }
}

.topbar .contact-info i a,
.topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

@media (max-width: 575px) {

  .topbar .contact-info i a,
  .topbar .contact-info i span {
    font-size: 13px;
  }
}

.topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

.topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

.topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

.topbar .social-links a:hover {
  color: #fff;
}

/* end */

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1acc8d;
  border-top-color: #d2f9eb;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: rgba(1, 4, 136, 0.9);
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background: rgba(1, 4, 136, 0.9);
  height: 60px;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 3px;
  left: 30px;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}


.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: -350px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #01036f;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #1acc8d;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

.mobile-nav-toggle {
  color: black;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}


.bi-list {
  color: black !important;
}

/**
* Mobile Navigation 
*/

@media (max-width:600px) {
  .mobile-nav-toggle {
    color: white;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }

}

/* .mobile-nav-toggle {
  color: white;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
} */

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;

  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 3, 91, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  color: white;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li>a:before {
  left: 20px;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #0205a1;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #3f43fd;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul,
.navbar-mobile .dropdown .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li,
.navbar-mobile .dropdown .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a,
.navbar-mobile .dropdown .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i,
.navbar-mobile .dropdown .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a,
.navbar-mobile .dropdown .dropdown ul a:hover,
.navbar-mobile .dropdown .dropdown ul .active:hover,
.navbar-mobile .dropdown .dropdown ul li:hover>a {
  color: #1acc8d;
}

.navbar-mobile .dropdown>.dropdown-active,
.navbar-mobile .dropdown .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  /* background: url("../img/hero-bg.jpg"); */
  position: relative;
  padding: 120px 0 0 0;
}

.hero:before {
  content: "";
  /* background: rgba(2, 5, 161, 0.91); */
  background-image: linear-gradient(to right bottom, #cd1f07, #bf0045, #96016a, #5a2a79, #09326e);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0 0 20px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: rgba(255, 255, 255, 0.8) !important;
}

.hero h1 span {
  color: #fff;
  border-bottom: 4px solid #1acc8d;
}

.hero h2 {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
  font-size: 24px;
}

.hero .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  transition: 0.5s;
  color: #fff;
  background: #c3111a;
}

.hero .btn-get-started:hover {
  background: #17b57d;
}

.hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    padding-top: 80px;
  }

  .hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  .hero .hero-img {
    text-align: center;
  }

  .hero .hero-img img {
    max-width: 50%;
  }

  .hero h1 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .hero .hero-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.hero-waves {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: 60px;
  z-index: 5;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 0px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f5f5ff;
}

.section-title {
  padding-bottom: 20px;
  margin-top: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #1acc8d;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #010483;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #fafaff;
  min-height: 40px;
  margin-top: 80px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 64px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/* Project Data Section */

.project-title {
  text-align: center;
  color: #EC0511;
  font-size: 19px;
}

@media (max-width:1399px) {
  .elementor-icon i {
    font-size: 3rem;
    background-color: #EC0511;
    padding: 30px;
    border-radius: 70px;
    color: white;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 32% !important;
  }
}

@media (max-width:1200px) {
  .elementor-icon i {
    font-size: 3rem;
    background-color: #EC0511;
    padding: 30px;
    border-radius: 70px;
    color: white;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 40% !important;
  }
}

@media (max-width:992px) {
  .elementor-icon i {
    font-size: 3rem;
    background-color: #EC0511;
    padding: 30px;
    border-radius: 70px;
    color: white;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 54% !important;
  }
}

@media (max-width:768px) {
  .elementor-icon i {
    font-size: 3rem;
    background-color: #EC0511;
    padding: 30px;
    border-radius: 70px;
    color: white;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 24% !important;
  }
}

@media (max-width:460px) {
  .elementor-icon i {
    font-size: 3rem;
    background-color: #EC0511;
    padding: 30px;
    border-radius: 70px;
    color: white;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 38% !important;
  }
}



.elementor-icon i {
  font-size: 3rem;
  background-color: #EC0511;
  padding: 30px;
  border-radius: 70px;
  color: white;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 26%;
}

.elementor-icon {
  border-radius: 50%;
}

.procedure-number {
  margin-top: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

/* ENd Prohect data section */

/* WHy choose Use */
.choose {
  color: rgb(201, 33, 33);
  font-weight: bold;
  font-size: 50px;
}

/* End Why Choose Us */
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  padding: 40px 0 0 0;
  margin-top: 60px;
}

.read-more {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  transition: 0.5s;
  color: #fff;
  background: #c3111a;
  border-radius: 30px
}

.learn-more {
  text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
  background-color: #EC0511;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  display: flex;
  margin: auto;
  color: #ffffff;
  padding: 8px;
}

.explore-more {
  text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
  background-color: #EC0511;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  display: flex;
  margin: auto;
  color: #ffffff;
  padding: 8px;
}



.About {
  color: #EC0511;
  font-size: 57px;
  mix-blend-mode: darken;
  text-align: center;
}

.about .icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  color: #010483;
  margin-bottom: 15px;
}

.about .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #7ceec6;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #1acc8d;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: #1acc8d;
  border-color: #1acc8d;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #1acc8d;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

.about .video-box {
  background: url("../img/about.png") center center no-repeat;
  background-size: contain;
  min-height: 300px;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#3f43fd 50%, rgba(63, 67, 253, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(63, 67, 253, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid #3f43fd;
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}



.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: #fff;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  background-color: white !important;
  color: red !important;
}

/* Servuices */
.read-more-services {
  text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
  background-color: #EC0511;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  display: flex;
  color: #ffffff;
  padding: 8px;
}

.our-sevices {
  text-align: center;
  color: #354678;
  ;
  margin-top: 20px;
  border-bottom: 3px solid #EC0511;
  max-width: 220px;
  margin: auto;
  margin-bottom: 25px;
}

.services-button {
  padding: 50px;
  color: #EC0511;
}


.get-in-touch {
  text-align: center;
  color: #EC0511;
  margin-top: 20px;
  border-bottom: 4px solid black;
  max-width: 279px;
  margin: auto;
  margin-bottom: 25px;
  font-size: 40px;
}


/* ENd Service */

/* Testimonial */

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #e1f0fa;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #3498db;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3498db;
}

.member:hover {
  transition: 0.3s;
  transform: translateY(-20px);
  position: relative;
  z-index: 1;
}

.news-title {
  border-bottom: 3px solid #EC0511;
  max-width: 100px;
  margin: auto;
  text-align: center;
}


.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #0f394c;
  margin: 0 3px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: rgba(73, 181, 231, 0.8);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #76c7ed;
}

.team .member .social i {
  font-size: 18px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #0f394c;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

.team-more {
  text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
  background-color: black;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  color: #ffffff;
  padding: 8px;
}

.see-more {
  background-color: #3f43fd;
  border-width: 1px 1px 1px 1px;
  display: flex;
  margin: auto;
  color: #ffffff;
  padding: 8px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact-main {
  background-color: rgb(247, 247, 247);
}

.contact-icon {
  font-size: 40px;
  color: #EC0511;
}

.contact-button {
  background-color: #fe5252;
  padding: 7px 20px;
}

.contact-columun {
  margin-top: 4rem;
  font-size: 22px;
}

.contact .info {
  width: 100%;
  background: #fff;
}


.required::after {
  content: "*";
  color: #EC0511;
}


@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #444444;
  font-size: 14px;
  background: #ebf7fc;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #f0f9fd;
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #0f394c;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #49b5e7;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #1da2e0;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #0f394c;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #49b5e7;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #49b5e7;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #49b5e7;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 17px !important;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #1da2e0;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  float: left;
  color: #0f394c;
}

#footer .credits {
  float: right;
  font-size: 13px;
  color: #0f394c;
}

@media (max-width: 575px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
  }
}


.btn-footer {
  background-color: orangered;
  margin-left: 10px;
  padding: 6px;
  font-weight: bold;
}

.footer-input {
  background-color: rgb(37, 41, 41);
  border: 1px solid white;
  padding: 5px;
}


/* Advance Container */

@media (max-width: 992px) {
  .advance-view {
    width: 100%;
  }
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -0px;
  position: relative;
  background-color: red;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}


.advance-container {
  border: 1px solid;
  padding: 10px;
  box-shadow: 0px 5px 10px 5px #888888;
  margin-top: 30px;
}

.advance-select-btn {
  border: 0;
  background-color: #EC0511;
  color: white;
  /* padding: 7px 25px  7px 25px; */
  border-radius: 5px;
  margin-bottom: 10px;
}

.advance-quick-view {
  border: 0;
  background-color: #EC0511;
  color: white;
  /* padding: 7px 25px  7px 25px; */
  border-radius: 5px;
  margin-bottom: 10px;
}

@media (max-width: 375px) {

  .advance-select-btn,
  .advance-quick-view {
    margin-right: 6px;
    margin-left: 5px;
    height: 50px;
  }
}

@media (max-width: 375px) {
  .v1 {
    border: 1px solid black;
    height: 50px;
  }
}

.advance-dollar {
  position: relative;
  top: 5px;
}

.advacnce-industries {
  border-left: 4px solid #EC0511;
}

.buy-report-block ul li.button-box {
  padding-top: 0;
  padding-bottom: 0;
  background: #6f38b2;
  padding: 18px 18px
}

.buy-btn {
  background: linear-gradient(90deg, #ff5623 0%, #ea2060 100%) !important;
  color: #fff !important;
  font-size: 14px;
  font-weight: 600;
}

.lead {
  margin-bottom: 00px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

.buy-btn a:hover {
  text-decoration: underline;
}

.rep-action-btn {
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
  min-width: 180px;
}

.advance-images {
  position: relative;
  top: 80px;
}

.advance-btns {
  border-left: 1px solid black;
  height: 25px;
}


.industry-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 1rem;
  line-height: 3rem;
  color: rgb(0, 0, 0);
}

p.lead {
  background: #6f38b2;
  color: #fff;
  margin-top: 0;
  padding: 8px 0;
  box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
  border-radius: 3px 3px 0 0;
  font-size: 16px;
}

@media (min-width: 1200px) {
  .industry-content .col-lg-3 {
    padding: 0;
    /* background: #caddf9; */
    /* background: linear-gradient(90deg, #ff5623 0%, #7881cc 100%) !important; */
   
    /* background: linear-gradient(to right bottom, #cd1f07, #bf0045, #96016a, #5a2a79, #09326e); */
    ;

    height: 25%;
  }
}

@media (max-width:400px) and (min-width:1200px) {
  .industry-content .col-lg-3 {
    padding: 0;
    background: #caddf9;
    height: 25%;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.buy-report-block ul li input[type="radio"] {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  margin-top: 2px;
  vertical-align: top;
}

.buy-report-block {
  background: #dcebfa;
}

.buy-report-block ul li {
  padding: 8px 15px;
}

.buy-report-block ul li span {
  font-size: 16px;
  font-weight: bold;
}

.buy-report-block ul li:not(.button-box) span:last-child {
  float: right !important;
}



.industry-list {
  background-color: #fe5252;
  padding: 7px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  /* padding: 10px; */
  cursor: pointer;
  text-align: center;
}

.industry-list:hover {
  color: #010483
}

.industry-parent-list {
  list-style: none;
  padding: 0;
}

.industries-links {
  /* line-height: 0.5rem; */
  margin-bottom: 5px;
}

.industries-links:hover {
  text-decoration: underline;
}



.repactions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.repactions ul li:not(:last-child) {
  margin-bottom: 1rem;
}


/* About Us page new Added */


.fa-layer-group::before {
  background-color: white;
  padding: 20px;
  color: #EC0511;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 30px;
}

.fa-accessible-icon::before {
  background-color: white;
  padding: 20px;
  color: #EC0511;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 30px;
}

.fa-accusoft::before {
  background-color: white;
  padding: 20px;
  color: #EC0511;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 30px;
}

.fa-industry::before {
  background-color: white;
  padding: 20px;
  color: #EC0511;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 30px;
}

.aboutus-title,
.aboutus-get {
  color: #EC0511;
}

.about-member {
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
}


.members-icon {
  color: red;
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.industry-member-img {
  border-radius: 50%;
  width: 50%;
  display: flex;
  margin: auto;
}